/vendor/
node_modules/
npm-debug.log
yarn-error.log

src/db_export102
src/db_import202
src/laravel.sql
src/laravel.zip

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/mysql/
/redis/
/database/
/meilisearch_data/

#for mac os
.DS_Store
