version: "3"

networks:
  laravel302:
    driver: bridge
services:
  nginx:
    image: nginx:alpine
    container_name: laravel302_nginx
    restart: unless-stopped
    tty: true
    environment:
      - NGINX_APP_HOST=${APP_DOMAIN_NAME}
      - WEBSOCKET_APP_HOST=${WEBSOCKET_DOMAIN_NAME}
    ports:
      - "38002:8001"
    volumes:
      - ../src:/var/www/app
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      # - ./sites-enabled/* /etc/nginx/sites-enabled/
      - ../.docker_configs/certs:/etc/nginx/certs
    depends_on:
      - php
      - mysql
    networks:
      - laravel302
  redis:
    image: redis
    container_name: laravel302_redis
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=password
      - REDIS_REPLICATION_mode=master
    ports:
      - "35802:6379"
    networks:
      - laravel302
  redisinsight:
    image: redislabs/redisinsight
    container_name: laravel302_redisinsight
    restart: unless-stopped
    volumes:
      - ../redis:/var/lib/redis
    ports:
      - "35902:8001"
    networks:
      - laravel302
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel302_phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: LNIBsCP9Gj7xF4d3
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      UPLOAD_LIMIT: 104857600
      MEMORY_LIMIT: 2G
      # MAX_EXECUTION_TIME: 600
    ports:
      - "38102:80"
    networks:
      - laravel302

  mysql:
    image: mysql
    container_name: laravel302_mysql
    restart: unless-stopped
    tty: true
    ports:
      - "37102:3306"
    volumes:
      - ../mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: LNIBsCP9Gj7xF4d3
      MYSQL_DATABASE: laravel
      MYSQL_USER: tlc_app_2
      MYSQL_PASSWORD: DLTedTfrVzYbrYv9
    command: mysqld --log-bin-trust-function-creators=1
    networks:
      - laravel302
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel302_php
    restart: unless-stopped
    tty: true
    working_dir: /var/www/app
    volumes:
      - ../src:/var/www/app
      - ../.docker_configs/certs:/etc/nginx/certs
    ports:
      - "39002:9000"
    networks:
      - laravel302
  meilisearch:
    image: getmeili/meilisearch:latest # You can specify a particular version instead of `latest`
    container_name: laravel302_meilisearch
    environment:
      MEILI_MASTER_KEY: "I_LOVE_MEILISEARCH" # Replace with your desired master key
    volumes:
      - ../meilisearch_data:/data.ms
    ports:
      - "37702:7700" # Change ports if needed
    networks:
      - laravel302
