/* Override flow-bite */
[type='text'],[type='number'],textarea,select{
    /* gray-300 */
    border: 1px solid rgb(209 213 219); 
}
/* This is for the option box bigger */
.select2-dropdown.select2-dropdown--above {
    width: max-content !important;
}
.select2-dropdown.select2-dropdown--below {
    width: max-content !important;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
}

/* This is not making the dropdown have different size during dynamic render */
select + .select2-container {
    width: 100% !important;
}

.table-line-new {
    background: #00ff7f !important;
}

.table-line-removed {
    background: #ff6a6a !important;
}

.hr-custom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 1px !important;
    border-bottom: 1px solid #fff !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media print {
    .page-break {
        /* page-break-inside: avoid; */
        page-break-before: always;
    }

    .no-print {
        display: none !important;
    }

    .only-print {
        display: block;
    }
}

@media screen {
    .only-print {
        display: none;
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
