/node_modules
/app/Learn
/public/hot
/public/storage
/storage/*.key
/vendor
/public/flutter
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

dockersh
composer.lock